{% extends './theory_base.html' %}
{% block header %}<h1>  Метод половиного деления (бисекция) </h1>{% endblock %}
{% block content_theory %}

    <p>
      Корнем уравнения \(f(x)=0\) называется значение \(x = \bar x \), подстановка которого в уравнение превращает его в верное числовое равенство. 
      Например, если в уравнение \( x^2 + 5x + 4 = 0 \) подставить \( x=-1 \) , то получим \( 0=0 \) (верно). Решить уравнение —
      значит найти его корни. Далеко не каждое уравнение допускает аналитическое решение:
    </p>
    <ol>
      <li>трансцендентные уравнения, как правило, не решаются аналитически, за исключением специальных случаев («школьного» типа),
        когда уравнение можно удачной подстановкой свести к алгебраическому, например, \( e^{2x}-6e^{x}+9=0 \);
      </li>
      <br>
        <li>
          даже для алгебраического уравнения \( a_0x^n + a_1x^{n-1} + ... + a_{n-1}x + a_n = 0 \) степени выше четвертой не существует формулы, выражающей корни
          через коэффициенты уравнения при помощи конечного числа арифметических операций и извлечения корней (в частных случаях, например для уравнения
          \( x^{42} - 5x^{21} + 4 = 0 \), такие формулы могут существовать, но в общем случае нет). Невозможность аналитического решения
          уравнений степени пятой и высших доказана трудами Абеля (1802–
          1829) и Галуа (1811–1832).
        </li>
    </ol>
    <p>
      
    </p>
    <p>
          Таким образом, большое значение имеет задача приближенного,
      численного отыскания корней уравнений, для этого:
    </p>
    <ol type="a">
      <li>Определяют количество корней уравнения и изолируют (отделяют) каждый из них. <b>Отрезком изоляции</b> называется отрезок,
      на котором лежит только один корень уравнения;</li>
      <br>
      <li>Вычисляют каждый корень с требуемой точностью</li>
    </ol>
    <p>
      Для отделения корней уравнения \( f(x) = 0 \) применяют графический и аналитический методы.
      В первом из них строят график функции \( y =  f(x) \) и приближенно
      находят точки его пересечения с осью \( Ox \).
    </p>
    <p>
      Аналитический способ отделения корней уравнения \( f(x) = 0 \) основан на том, что для функции \( f(x) \), 
      непрерывной на отрезке \( [a,b] \)
      и принимающей на его концах значения разных знаков, существует
      поменьшей мере одна точка \( \bar x \in [a,b] \), такая, что \(f(\bar x)=0 \). Если на этом
      отрезке функция \(f(x)=0 \) монотонна, то корень \( \bar x \) единственный, в противном случае корней может быть несколько.
    </p>
    <p>
      Метод непосредственно следует из аналитического способа отделения корней. Пусть для уравнения 
      \(f(x)=0\) найден первичный отрезок \([x_0, x_1]\) изоляции корня. Вычислим середину отрезка \( x_2 = \frac{x_0 + x_1}{2} \). 
      Если случайно окажется, что \(f(x_2) = 0 \) , то \( x_2 \) является корнем уравнения \(f(x) = 0\). Если же \(f(x_2) \neq 0\) , 
      то из двух половин \( [x_0, x_2] \), \( [x_2, x_1] \)
      первичного отрезка выберем для дальнейшего деления пополам ту,
      на концах которой функция \(f(x)\) принимает <b>значения противоположных знаков.</b>
      Выбранный отрезок снова разделим пополам
      и найдем половину с противоположными знаками \(f(x) \) на концах,
      и т.д.

      Критерий достижения требуемой точности (критерий обрыва счета): если корень надо вычислить с точностью \( \varepsilon \) , то деление пополам
      следует продолжать до тех пор, пока длина очередного отрезка не станет меньше \( 2\varepsilon \) ; тогда середина этого отрезка даст значение корня с точностью \( \varepsilon \)
    </p>
    <p>
      Свойства дихотомии следующие:
    </p>
    <ol type="a" style="margin-bottom: 2em;margin-top: 2em;">
      <li>Идейная простота метода;</li>
      <li> Непритязательность к свойствам функции \(f(x) \) — она должна
        быть лишь непрерывной, а дифференцируемость не предполагается.</li>
      К сожалению, <b>отрицательные</b> свойства перевешивают:
      <li>
        Очень медленная сходимость. Пусть, например, первичный отрезок изоляции имеет единичную длину. После первого шага дихотомии
        длина уменьшится до \( \frac{1}{2} \) , после второго — до \( (\frac{1}{2})^2\), и т.д. 
        Поскольку \( (\frac{1}{2})^{10} = \frac{1}{1024} \lt 0,001 \) , после десяти шагов дихотомии обеспечиваются лишь три верных десятичных знака искомого корня;
      </li>
      <li>Неприменимость к вычислению корней четной кратности</li>
      <li>Неприменимость к решению систем уравнений</li>
    </ol>
  </main>

</div><!--end row-->
{% endblock %}