{% extends './theory_base.html' %}
  
{% block content_theory %}
              <main class="coll-12 bd-content" style=" margin-left: 20px;">
                <h1>Введение</h1>
                <hr>
                <p>
                  Численные методы (вычислительные методы, методы
вычислений) — раздел вычислительной математики, изучающий приближенные способы решения типовых
математических задач, которые либо не решаются, либо трудно решаются точными аналитическими методами (вычислительная математика в узком смысле). Примерами типовых задач являются численное
решение уравнений, численные дифференцирование и интегрирование и др. Кроме численных методов, к вычислительной математике относят круг вопросов, связанных с использованием компьютеров
и с программированием.
Деление методов вычислений на аналитические и численные
несколько условно.

                </p>
              </main>

            </div><!--end row-->
{% endblock %}