<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InterNM</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async
                src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>

      </head>
    <body>
        <div class="container" style="padding-left: 0.1rem; padding-right: 0.1rem; min-width: 800px; max-width: 80%;">
            <header class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom">
        
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="../home" class="nav-link px-2 link-dark">Home</a></li>
                <li><a href="../graph/bisection" class="nav-link px-2 link-dark">Graph</a></li>
                <li><a href="" class="nav-link px-2 link-secondary">Theory</a></li>
                <!--<li><a href="../about" class="nav-link px-2 link-dark">About</a></li>!-->
              </ul>
        
            </header>


          <div class="container-fluid" >

            <div clas="row flex-xl-nowrap" style="display: flex; flex-direction: row;">

              <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 200px; border-radius: 5px; height: min-content; background-color: lightgray;">
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="intro" class="nav-link text-dark" aria-current="page">
                      Введение
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="bisection" class="nav-link text-dark" aria-current="page">
                      Бисекция
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="secant" class="nav-link text-dark" aria-current="page">
                      Секущие
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="Newton" class="nav-link active" aria-current="page">
                      Ньютона
                    </a>
                  </li>
                </ul>
              </div><!--end slidebar-->

              <main class="coll-12 bd-content" style=" margin-left: 20px;">
                <h1>Введение</h1>
                <hr>
                <p>
                  Пусть в уравнении \( f(x) = 0 \) функция имеет непрерывную производную \( f'(x) \neq 0\, x_n\) есть некоторое приближение к корню \(\overline{x}\) рассматриваемого уравнения. В окрестности точки \(x_n\) разложим функцию \( f(x)\) в ряд Тейлора.
                  <div align="center">
                    </p>
                      \(f(x) = f(x_n) + f'(x_n)(x-x_n) + \frac{f''(x_n)'}{2!}(x-x_n)^2 + ... + 
                      \frac{f^{k}(x_n)'}{k!}(x-x_n)^k \)
                    </p>
                  </div>
                  и ограничимся линейным по \(x\) слагаемым включительно
                  <div align="center">
                    \(0 = f(x) + f'(x_n)(x-x_n) \)
                  </div>
                  Отсюда 
                  <div align="center">
                    \( x \approx x_n - \frac{f(x_n)}{f'(x_n)} (!)\) 
                  </div>
                  и согласно идее Ньютона левую часть этого выражения будем рассма
                  тривать как следующее, \((n+1)\) - е, приближение некоторого итерационного процесса
                  <div align="center">
                    \(x_{n+1} = x_n - \frac{f(x_n)}{f'(x_n)} (*)\)
                  </div>
                  Формула (*) представляет метод Ньютона численного решения уравнений. Другое название - метод линеаризации, поскольку функция \(f(x)\) приближённо заменена линейной (!)
                  </p>
                  Критерий обрыва отсчёта в методе Ньютона следующие.
                  как только абсолютная погрешность n-го приближения 
                  <div align="center">
                    \(\Delta =|x_n - \overline{x}| = |\frac{f(x_n)}{f'(\xi)}| \leq \frac{f(x_n)}{m},\)
                  </div>
                  где  \(m = min_{[a,b]} |f'(x)|\)
                  станет меньше требуемой точности \(\epsilon\)
                  <div align="center">
                  \(\frac{|f(x_n)|}{n} \lt \epsilon \)
                  </div>
                  точность достигнута, и вычисления можно прекратить, записав ответ \(\overline{x} \approx x_n\)
                  Свойства метода Ньютона таковы:
                  <ol>
                    <li>
                      функции, участвующие в расчетах, должны быть дифференцируемыми;
                    </li>
                    <li>
                       вычислительный процесс (*) самоисправляющийся;
                    </li>
                    <li>
                      нахождение всех корней, сколько бы их не было, обслуживается
                      одним и тем же вычислительным процессом (*) — в противополож-
                      ность методу итераций, в котором, как правило, для каждого корня
                      приходится индивидуально строить итерационный процесс;
                    </li>
                    <li>
                      скорость сходимости итерационного процесса высока
                    </li>
                    <li>
                      на каждом шаге вычислений требуется вычислять производную \(f'(x_n)\)
                    </li>
                  </ol>
                  На частичное уравнение этого единственно возможного недостатка метода Ньютона направлено введение двух методов, являющихся его следствиями, - метода секущих и метода хорд.
              </main>
            </div><!--end row-->
          </div><!--end container-->
          </div>
    </body>
</html>
