{% extends './theory_base.html' %}

{% block header %} <h1>Метод Ньютона</h1> {% endblock %}

{% block content_theory %}
      <p>
        Пусть в уравнении \( f(x) = 0 \) функция имеет непрерывную производную \( f'(x) \neq 0\, x_n\) есть некоторое приближение к корню \(\overline{x}\) рассматриваемого уравнения. В окрестности точки \(x_n\) разложим функцию \( f(x)\) в ряд Тейлора.
        <div align="center">
          </p>
            \(f(x) = f(x_n) + f'(x_n)(x-x_n) + \frac{f''(x_n)'}{2!}(x-x_n)^2 + ... + 
            \frac{f^{k}(x_n)'}{k!}(x-x_n)^k \)
          </p>
        </div>
        и ограничимся линейным по \(x\) слагаемым включительно
        <div align="center">
          \(0 = f(x) + f'(x_n)(x-x_n) \)
        </div>
        Отсюда 
        <div align="center">
          \( x \approx x_n - \frac{f(x_n)}{f'(x_n)} (!)\) 
        </div>
        и согласно идее Ньютона левую часть этого выражения будем рассма
        тривать как следующее, \((n+1)\) - е, приближение некоторого итерационного процесса
        <div align="center">
          \(x_{n+1} = x_n - \frac{f(x_n)}{f'(x_n)} (*)\)
        </div>
        Формула (*) представляет метод Ньютона численного решения уравнений. Другое название - метод линеаризации, поскольку функция \(f(x)\) приближённо заменена линейной (!)
        </p>
        Критерий обрыва отсчёта в методе Ньютона следующие.
        как только абсолютная погрешность n-го приближения 
        <div align="center">
          \(\Delta =|x_n - \overline{x}| = |\frac{f(x_n)}{f'(\xi)}| \leq \frac{f(x_n)}{m},\)
        </div>
        где  \(m = min_{[a,b]} |f'(x)|\)
        станет меньше требуемой точности \(\epsilon\)
        <div align="center">
        \(\frac{|f(x_n)|}{n} \lt \epsilon \)
        </div>
        точность достигнута, и вычисления можно прекратить, записав ответ \(\overline{x} \approx x_n\)
        Свойства метода Ньютона таковы:
        <ol>
          <li>
            функции, участвующие в расчетах, должны быть дифференцируемыми;
          </li>
          <li>
              вычислительный процесс (*) самоисправляющийся;
          </li>
          <li>
            нахождение всех корней, сколько бы их не было, обслуживается
            одним и тем же вычислительным процессом (*) — в противополож-
            ность методу итераций, в котором, как правило, для каждого корня
            приходится индивидуально строить итерационный процесс;
          </li>
          <li>
            скорость сходимости итерационного процесса высока
          </li>
          <li>
            на каждом шаге вычислений требуется вычислять производную \(f'(x_n)\)
          </li>
        </ol>
        На частичное уравнение этого единственно возможного недостатка метода Ньютона направлено введение двух методов, являющихся его следствиями, - метода секущих и метода хорд.
    </main>
  </div><!--end row-->
{% endblock %}
