{% extends './base.html' %}

{% block content %}
<main class="px-3">
    <h1 class="text-center">Start Numerical Methods with us.</h1>
    <div align="center">
    <p class="lead" ></p>

    <ol>
      <li>трансцендентные уравнения, как правило, не решаются аналитически, за исключением специальных случаев («школьного» типа),
        когда уравнение можно удачной подстановкой свести к алгебраическому, например, \( e^{2x}-6e^{x}+9=0 \);
      </li>
      <br>
        <li>
          даже для алгебраического уравнения \( a_0x^n + a_1x^{n-1} + ... + a_{n-1}x + a_n = 0 \) степени выше четвертой не существует формулы, выражающей корни
          через коэффициенты уравнения при помощи конечного числа арифметических операций и извлечения корней (в частных случаях, например для уравнения
          \( x^{42} - 5x^{21} + 4 = 0 \), такие формулы могут существовать, но в общем случае нет). Невозможность аналитического решения
          уравнений степени пятой и высших доказана трудами Абеля (1802–
          1829) и Галуа (1811–1832).
        </li>
    </ol>
    <p>
      
    </p>
    <p>
          Таким образом, большое значение имеет задача приближенного,
      численного отыскания корней уравнений, для этого:
    </p>
    <ol type="a">
     <li>Определяют количество корней уравнения и изолируют (отделяют) каждый из них. <b>Отрезком изоляции</b> называется отрезок,
      на котором лежит только один корень уравнения;</li>
      <br>
      <li>Вычисляют каждый корень с требуемой точностью</li>
    </ol>


    </div>
  </main>
{% endblock %}